<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    </head>
    <style>
       .container
    {
        position:relative;
        width:50%;/*half the width of the whole page*/
        margin:auto;/*center the whole thing*/
    }
    .relative_container
    {
        padding-bottom:50%;
        position:relative;
        float:left;
        width:100%;
        height:100%;
    }
    </style>
    <body>
        <h1>{{ title }}</h1>
        <h2>From {{ StartDate }} to {{ EndDate }}</h2>
        <h3>Set the date and time range </h3>
        <ul>
            <li><a href="submit">Time and Date Range</a></li>
            <li><a href="eps">EPS</a></li>
            <li><a href="total">Total Count</a></li>
        </ul>

     <div class='container'>
        <div class='relative_container'>
            {{ date_chart.render(is_unicode=True)|safe }}
        </div>
     </div>
    </body>
</html>